body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: grey;
}

h1 {
  text-align: center;
}

.start {
  margin: 50px auto;
  padding: 10px;
  display: block;
  border-radius: 10px;
  border-color: cadetblue;
  background-color: cadetblue;
  cursor: pointer;
}

form {
  width: 280px;
  margin: auto;
}

.row,
.col {
  width: 250px;
  margin: 10px 0;
  border-radius: 10px;
  padding: 5px;
}

input[type='submit'] {
  background-color: cadetblue;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  border-color: cadetblue;
  text-align: center;
  display: block;
}

.gameboard {
  margin: 0 auto;
  border-spacing: 0;
}

tr {
  padding: 0;
  cursor: pointer;
}

td {
  border: 1px solid #002ae0;
  background-color: #002ae0;
  padding: 0;
  margin: 0;
}

img {
  width: 80px;
  height: 80px;
}
